.content{
    text-align:center;
    margin-right:30%;
        margin-left:35%;
    margin-top:25%;
    color:white;
}
body{
  background-image:url("bg.jpeg");
    background-size:cover;
    opacity:60%
        background-color:black;
}
html{
    height:100%;
}
.green{
    color:green;
}